{{page-title "PWA APP"}}

<div class="app-wrapper">
  <LinkTo @route="index" {{on "click" (fn this.toggleMenu true)}}>
    <h1 class="header">
      <img src="assets/images/pwa-192.png" width="192" height="192" alt="pwa">
    </h1>
  </LinkTo>

  <ConnectionIndicator />

  {{outlet}}

  <Menu
    @showMenu={{this.showMenu}}
    @onClickItem={{this.toggleMenu}}
  />
</div>
